@charset 'UTF-8';

*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body[data-theme='english'],
body:not([data-theme]) {
	--primary-100: #75c8ff;
	--primary-200: #47afff;
	--primary-300: #0f8fff;
}

body[data-theme='spanish'] {
	--primary-100: #1dd781;
	--primary-200: #1dbf76;
	--primary-300: #1aa267;
}

body[data-theme='german'] {
	--primary-100: #ffd642;
	--primary-200: #ebb400;
	--primary-300: #d19d00;
}

body[data-theme='french'] {
	--primary-100: #7ae9ff;
	--primary-200: #00d0fa;
	--primary-300: #00b7db;
}

body[data-theme='korean'] {
	--primary-100: #e6d2fe;
	--primary-200: #d1b1fc;
	--primary-300: #bc91f8;
}

body[data-theme='japanese'] {
	--primary-100: #80efb9;
	--primary-200: #1dd781;
	--primary-300: #1dbf76;
}

body[data-theme='mandarin'] {
	--primary-100: #fda5a7;
	--primary-200: #fb8389;
	--primary-300: #f85461;
}

body[data-theme='hindi'] {
	--primary-100: #d4b7b5;
	--primary-200: #c59e9b;
	--primary-300: #b4827e;
}